{% extends 'base.html' %} <!-- Heredar la estructura de la plantilla base -->

{% block content %} <!-- Definir el bloque de contenido -->

<div class="container"> <!-- Contenedor principal -->
    <div class="form-container"> <!-- Contenedor del formulario -->
        <h2 class="text-center">Agregar Nueva Vivienda</h2> <!-- Título del formulario -->
        <form method="post" enctype="multipart/form-data" class="mt-4"> <!-- Formulario para agregar una nueva vivienda -->
            {% csrf_token %} <!-- Token CSRF para protección contra ataques de falsificación de solicitudes entre sitios -->
            {% for field in form %} <!-- Iterar sobre los campos del formulario -->
                <div class="form-group"> <!-- Grupo de campo -->
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> <!-- Etiqueta del campo -->
                    {{ field }} <!-- Renderizar el campo -->
                </div>
            {% endfor %}
            <div class="btn-container"> <!-- Contenedor de botones -->
                <button type="submit" class="btn btn-primary">Guardar</button> <!-- Botón para guardar la información -->
                <a href="{% url 'mis_propiedades' %}" class="btn btn-secondary">Cancelar</a> <!-- Botón para cancelar y regresar -->
            </div>
        </form>
    </div>
</div>

{% endblock %} <!-- Fin del bloque de contenido -->
